img{
    float: left;
  }
  #college{
      text-align: center;
      background-color: rgba(173, 216, 230,0.7);
  }
  
  body{
    background-color: black;
    background-image: url("admin.jpg");
    background-size: cover;
  }
  select,button{
      display: inline-block;
  }
  div{
      margin: 0px 10px 0px 10px;
  }
  label{
      margin-right: 5px;
  }
  table{
    background-color: #E7E9EB;
  }