<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    
    <style type="text/css">
img
{
float:left;
/* p.clear:both; */
}
body
{
background-image:url("BC Home.png");
height: 100%;
background-repeat: no-repeat;
background-size: cover;
background-position: top;
}

div.absolute1{
   position: absolute;
   top: 200px;
   right: 425px;
   width: 300px;
}

div.absolute2{
   position: absolute;
   top: 265px;
   right: 450px;
   width: 300px;
}
    div.absolute3{
       position: absolute;
       top: 20px;
       right: 10px;
       width: 100px;
    }
    </style>
    </head>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
.btn1{
    border: 2px solid black;
	border-radius: 5px;
    background-color:#4dff4d;
    color: black;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
}
.btn2{
    border: 2px solid black;
	border-radius: 5px;
    background-color:#ff751a;
    color: black;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
}
.btn{
    border: 2px solid black;
	border-radius: 5px;
    background-color: #ff704d;
    color: black;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
}
.info {
  border-color: #2196F3;
  color: black
}

.info:hover {
  background: #2196F3;
  color: white;
}

div.relative {
  position: relative;
  left: 400px;
  
  font-size: 30px;
  color :red;
}

</style>
</head>


    </style>
</head>
<body>

<img src="bmsce logo.png"
 width="150" height="150">
<head>
    <style>
    h1{
         margin: 0 0 0 0;
    }
   </style>
</head>
<div class="mark">
    <h1 style="text-align:center;"> BMS COLLEGE OF ENGINEERING</h1>
    <h2 style="text-align:center">BMSCE ADMISSION REGISTRATION</h2>
    
  
  
<div class="absolute1">
    <a class="btn1 info" onclick="window.location.href='/register';">REGISTER  NOW </a><br/><br/>
</div>
<div class="absolute2">
   <a  class="btn2 info" onclick="window.location.href='https://www.bmsce.ac.in/';">KNOW  ABOUT  BMSCE</a><br>
</div>
<div class="absolute3">
    <a class="btn info"  onclick="window.location.href='/auth/stulogin';">LOGOUT</a>
</div>
</body>
</html>
