<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>signup</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="signup.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 
<style>
body {
	color: black;
	background-image:url("admin.jpg");
	font-family:  sans-serif;
	background-size: cover;
}
img{
  float: left;
}
div{
	text-align: center;
}

.form-control {
	height: 41px;
	background: #f2f2f2;
	box-shadow: none !important;
	border: none;
}
.form-control:focus {
	background: #e2e2e2;
}
.form-control, .btn {        
	border-radius: 3px;
}
.signup-form {
	width: 400px;
	margin: 30px auto;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form h2  {
	color: #333;
	font-weight: bold;
	margin-top: 0;
}
.signup-form hr  {
	margin: 0 -30px 20px;
}    
.signup-form .form-group {
	margin-bottom: 20px;
}

.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}
.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;
	background: #3598dc;
	border: none;
	min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
	background: #2389cd !important;
	outline: none;
}
.signup-form a {
	color:blue;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: #3598dc;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}
.signup-form .hint-text  {
	padding-bottom: 15px;
	text-align: center;
}
#college{
	background-color: rgba(173, 216, 230,0.7);
}
</style>
</head>
<body>
    <div id="college">
        <img src="bmsce logo.png" width="100" height="100" >
    
        <h1>B.M.S COLLEGE OF ENGINEERING</h1>
          <h3>Autonomous institute, Affiliated to VTU</h3>
          <h3>Estd.1946</h3>
          <hr>
	</div>
	<%- include ("./messages") %>
<div class="signup-form">
    <form action="/auth/signup"  method="post">
		<h2>Sign Up</h2>
		<p>Please fill in this form to create an account!</p>
		<hr>
        <div class="form-group">
			<div class="row">
				<div class="col"><input type="text" class="form-control" name="first_name" placeholder="First Name" pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$" 
					title="Enter valid name" required></div>
			</div>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col"><input type="text" class="form-control" name="last_name" placeholder="Last Name" pattern="^[a-zA-Z]+(?:[\s-][a-zA-Z]+)*$" 
					title="Enter valid name" required="required"></div>
			</div> 
		</div>       	
        <div class="form-group">
			<input type="email" class="form-control" name="email" placeholder="Email"  required="required">
        <!--	<input type="email" class="form-control" name="email" placeholder="Email" pattern="[a-z]+.[a-z]{2}[0-9][0-9]@bmsce.ac.in"
			title="Enter valid BMSCE Email-ID ex: ' name.cs19@bmsce.ac.in '" required="required">-->
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" id ="password" placeholder="Password" pattern=".{10,30}"
			title="Password must be atleast 10 characters long" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password" pattern=".{10,30}"
			title="It should match with password value" required="required" onkeyup='check();'>
            <span id='message'></span>
        </div>

		<div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
        </div>
    </form>
	<div class="hint-text">Already have an account? <a href="/auth/stulogin" style="color: #D82010;"><b>Login here</b></a></div>
</div>
</body>
</html>